body {
    background-color: beige;
}

input[type="submit"]{
    color:black;
    background-color: aquamarine;
    margin-top: 20px;
}

input[type ="submit"]:hover{
    background-color: blueviolet;
}

.textbox-Edit label{
    margin-top: 10px;
    font-size: 50px;
}

.image-Edit{
    display:block;
    margin: 0 auto;
    width: 50%;
}